
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins:wght@200;300;400;700&display=swap');


.body{
    /* width:40%; */
    /* border:3px solid red; */
    color:white;
    background-image: url('../../assets/missionAssets/newDevelopement/image18.png'),url('../../assets/missionAssets/newDevelopement/ReportPortals.png');
    background-repeat: no-repeat;
    background-position: right top,left ;
    background-size: 30%, cover ;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.bodyWrapper{
    /* border:13px solid yellow; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    /* justify-content: center; */
}

.border{
    border:3px solid yellow;
}
.top{
    /* border:3px yellow solid; */
    display: flex;
    margin: 1% 0;
}
.topLeft{
    /* border:3px red solid; */
    width: 50%;
    font-family: 'Krona One', sans-serif;
    font-size: 2em;
    text-align: center;
}
.orange{
    color:#FF9A61;
}
.topRight{
    /* border:3px red solid; */
    width: 50%;
}
.middle{
    /* border:13px solid green; */
    display: flex;
    justify-content: center;
}
.middleLeft{
    /* border:3px red solid; */
    width: 50%;
    display: flex;
    justify-content:space-around;
    /* text-align: center; */
}
.middleLeftImage{
    /* border:13px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 10%; */
    /* object-fit: contain; */
}
.middleLeftLeft{
    width: 80%;
    /* border:13px solid red; */
}
.middleLefRight{
    width: 20%;
    /* border:13px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left:-10%;
}
.middleLefRight div:hover{
    cursor: pointer;
}
.middleRight{
    /* border:3px red solid; */
    width: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:2%;
    /* align-items: center; */
}

.middleRightHeading{
    /* border:3px red solid; */
    margin:2% 0;
    width: 80%;
    font-size: 4vw;
}

.middleRightContent{
    font-size: 1.1vw;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
}

/* ======== FONT STYLING ========= */

.krona{
    font-family: 'Krona One', sans-serif;
}